<ion-view view-title="Evenements"  class="app events-page" hide-nav-bar="true">
    <ion-content>
        <div class="row row-top header-title">
            <div class="col">
                <h4>Événements</h4>
            </div>
        </div>
        <ion-refresher
                pulling-text="Tirer pour rafraîchir..."
                on-refresh="refresh()">
        </ion-refresher>
        <ion-list class="event-list">
            <div class="list card" ng-repeat="event in events.all()">
                <div class="item item-avatar" ng-click="events.show(event)">
                    <img ng-if="event.fields.image_thumb" src="{{event.fields.image_thumb}}">
                    <img ng-if="!event.fields.image_thumb" src="img/ionic.png">
                    <h2>{{event.fields.title}}</h2>
                    <p>le {{event.fields.date_start | moment : 'format' : 'DD/MM/YY à HH'}}h{{event.fields.date_start | moment : 'format' : 'ss'}}</p>
                </div>
                <div class="item item-body">
                    <img ng-if="event.fields.image" src="{{event.fields.image}}" alt="image" style="width:100%;"/>
                    <p>{{event.fields.description}}</p>
                    <p>
                        <a ng-if="event.is_before" class="subdued done"><i class="icon ion-close"></i> Terminé</a>
                        <a ng-if="!event.is_before" class="subdued to-come"><i class="icon ion-checkmark"></i> À venir</a>
                    </p>
                </div>
                <div class="item item-divider row links">
                    <div class="col col-50">
                        <ion-checkbox ng-model="event.favorite" ng-click="events.addToFavorite(event)">Favoris</ion-checkbox>
                    </div>
                    <div class="col col-50">
                        <a class="button icon-right ion-chevron-right button-energized" ng-click="events.show(event)">Voir</a>
                    </div>
                </div>
            </div>
        </ion-list>
        <ion-infinite-scroll on-infinite="loadEvents()" distance="1%"></ion-infinite-scroll>
    </ion-content>
    <button ng-hide="events.count() <= 10" ng-click="scrollTop()" class="icon ion-arrow-up-c scroll-to-top"></button>
</ion-view>
