<ion-view view-title="Favoris" class="app favorites-page events-page" hide-nav-bar="true">
    <ion-content>
        <div class="row row-top header-title">
            <div class="col">
                <h4>Favoris</h4>
            </div>
        </div>
        <ion-refresher
                pulling-text="Tirer pour rafraîchir..."
                on-refresh="refresh()">
        </ion-refresher>
        <ion-list class="event-list">
            <div ng-if="events.length == 0" class="list">
                <div class="card">
                    <div style="text-align:center;" class="item item-text-wrap">
                        Aucun favoris trouvé <i class="icon ion-sad-outline"></i>
                    </div>
                </div>
            </div>
            <ion-item class="list card" ng-repeat="event in events">
                <div class="item item-avatar" ng-click="renderEvent(event)">
                    <img  ng-if="event.fields.image_thumb" src="{{event.fields.image_thumb}}">
                    <img  ng-if="!event.fields.image_thumb" src="img/ionic.png">
                    <h2>{{event.fields.title}}</h2>
                    <p>le {{event.fields.date_start | moment : 'format' : 'DD/MM/YY à HH'}}h{{event.fields.date_start | moment : 'format' : 'ss'}}</p>
                </div>
                <div class="item item-body">
                    <img ng-if="event.fields.image" src="{{event.fields.image}}" alt="image" style="width:100%;"/>
                    <p>{{event.fields.description}}</p>
                </div>
                <div class="item item-divider row links">
                    <div class="col col-50">
                        <button class="button button-assertive" ng-click="deleteEvent($index)"><i class="icon ion-ios-trash"></i> Supprimer</button>
                    </div>
                    <div class="col col-50">
                        <button class="button icon-right ion-chevron-right button-energized" ng-click="renderEvent(event)">Voir</button>
                    </div>
                </div>
            </ion-item>
        </ion-list>
        <ion-infinite-scroll ng-if="events.length > 0" on-infinite="loadEvents()" distance="1%"></ion-infinite-scroll>
    </ion-content>
    <button ng-hide="events.length <= 10" ng-click="scrollTop()" class="icon ion-arrow-up-c scroll-to-top"></button>
</ion-view>
