<ion-view view-title="Accueil" class="home">
  <ion-content overflow-scroll="false">
            <a href="#" class="menu-left" menu-toggle="left"><i class="icon ion-android-menu"></i></a>
            <h1><img src="img/logoWhite.png"  alt="Logo A Paris"/></h1>
            <div class="row row-center around-me">
                <div class="col col-center">
                    <button class="button button-assertive">
                        <a href=""><i class="icon ion-ios-location-outline"> Autour de moi</i></a>
                    </button>
                </div>
            </div>
            <div class="row search">
                <div class="col">
                    <button class="button button-positive">
                        <a href=""><i class="icon ion-ios-search"> Recherche</i></a>
                    </button>
                </div>
            </div>
  </ion-content>
</ion-view>
