<ion-view view-title="Accueil" class="app home-page" hide-nav-bar="true">
  <ion-content overflow-scroll="false">
      <div>
        <h1><img src="img/logoWhite.png"  alt="Logo A Paris"/></h1>
        <div class="row-center row intro-text">
            <em style="width: 100%;">Trouver tous les événements à venir sur Paris.</em>
        </div>
        <div class="row row-center around-me">
            <div class="col col-center">
                <button class="button" ng-click="locate()">
                    <i class="icon ion-ios-location-outline"></i>
                    Autour de moi
                </button>
            </div>
        </div>
          <div class="row row-center search-bloc">
              <div class="col col-center">
                  <button class="button" ui-sref="app.search">
                      <i class="icon ion-ios-search"></i>
                      Recherche
                  </button>
              </div>
          </div>
      </div>
  </ion-content>
</ion-view>