<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>

        <ion-tabs class="tabs-striped tabs-top tabs-background-none tabs-color-light">

            <ion-tab icon="icon ion-ios-world" ui-sref="app.news">
                <ion-nav-view name="news" animation="slide-left-right"></ion-nav-view>
            </ion-tab>

            <ion-tab icon="icon ion-home" ui-sref="app.home">
                <ion-nav-view name="home" class="slide-left-right"></ion-nav-view>
            </ion-tab>

            <ion-tab icon="icon ion-ios-star" ui-sref="app.favorites">
                <ion-nav-view name="favorites" class="slide-left-right"></ion-nav-view>
            </ion-tab>

        </ion-tabs>

    </ion-side-menu-content>

    <ion-side-menu side="left">
        <ion-content>
            <ion-list>
                <ion-item menu-close ng-href="#/app/index">
                    Accueil
                </ion-item>
                <ion-item menu-close ng-href="#/app/actus">
                    Actualités
                </ion-item>
                <ion-item menu-close ng-href="#/app/favoris">
                    Favoris
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>

</ion-side-menus>
