<ion-view view-title="Actualités"  class="app news" hide-nav-bar="true">
    <ion-content overflow-scroll="false">
        <div class="row row-top">
            <div class="col">
                <div class="list">
                    <label class="item item-input item-select">
                        <div class="input-label">Catégories</div>
                        <select ng-model="cat" ng-change="changeCat(cat)">
                            <option value="0" selected>Tout</option>
                            <option ng-repeat="cat in categories" ng-bind-html="(cat.name | html_entity_decode)">{{cat.id}}</option>
                        </select>
                    </label>
                </div>
            </div>
        </div>
        <ion-list class="news-list">
            <div class="card" ng-repeat="news in allNews" ng-click="renderNews(news.idactivites)">
                <div class="item item-text-wrap">
                    <h2 ng-bind-html="(news.nom | html_entity_decode)"></h2>
                    <p ng-bind-html="(news.small_description | html_entity_decode)"></p>
                </div>
            </div>
        </ion-list>
        <ion-spinner ng-hide="allNews.length == 0"></ion-spinner>
        <ion-infinite-scroll on-infinite="load()" distance="1%"></ion-infinite-scroll>
    </ion-content>
    <button ng-hide="allNews.length <= 20" ng-click="scrollTop()" class="icon ion-arrow-up-c"></button>
</ion-view>
