<ion-view view-title="Single" class="app single-page" hide-nav-bar="true">
    <ion-content>
        <div class="row row-top header-title">
            <div class="col sub-header">
                <button class="back-button" ng-click="$ionicGoBack()"><i class="icon ion-arrow-left-c"></i></button>
            </div>
        </div>
        <div class="row article">
            <h1>{{event.fields.title}}</h1>
            <img src="{{event.fields.image}}" style="width:100%;" alt="media"/>
            <p>{{event.fields.free_text}}</p>
        </div>

    </ion-content>
</ion-view>
<script>
    $('.tab-nav').hide();
    $('.back-button').on('click',function(){
        $('.tab-nav').show();
    });
</script>
